<button 
  [class]="buttonClasses"
  [disabled]="disabled || loading"
  (click)="onClick()"
  type="button"
>
  <span *ngIf="loading" class="btn__spinner"></span>
  
  <span *ngIf="icon && iconPosition === 'left' && !loading" class="btn__icon btn__icon--left">
    <i [class]="icon"></i>
  </span>
  
  <span class="btn__content">
    <ng-content></ng-content>
  </span>
  
  <span *ngIf="icon && iconPosition === 'right' && !loading" class="btn__icon btn__icon--right">
    <i [class]="icon"></i>
  </span>
</button>
